<section class="profilecards__section--design">
  <include
    src="./header-collapsable.html"
    title="Diseña"
    iconStart="far fa-object-ungroup"
    iconEnd="fas fa-chevron-up"
  ></include>

  <fieldset class="design__form js_fieldset">
    <!-- <span class="design__form--tittle">diseña</span>
    <i class="far fa-object-ungroup design"></i>
    <i class="fas fa-chevron-up"></i> -->
    <h3 class="design__form--colors">colores:</h3>
    <div class="design__form--ranges">
      <label class="label-1" for="range-1">
        <input id="range-1" type="radio" value="range-1" name="range" />
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
      </label>

      <label class="label-2" for="range-2">
        <input id="range-2" type="radio" value="range-2" name="range" />
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
      </label>

      <label class="label-3" for="range-3">
        <input id="range-3" type="radio" value="range-3" name="range" />
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
      </label>
    </div>
  </fieldset>
</section>
