<section class="section__container">
    <i class="far fa-keyboard section__icon"></i>
    <h2 class="section__title">Rellena</h2>
    <form class="section__form" action="/" method="POST">
        <label for="fullName">Nombre completo</label>
        <input id="fullName" type="text" name="fullName">
        <label for="jobPosition">Puesto</label>
        <input id="jobPosition" type="text" name="jobPosition">
        <label for="">Imagen de perfil</label>
        Añadir imagen
        <label for="email">Email</label>
        <input id="email" type="email" name="email">
        <label for="phone">Teléfono</label>
        <input id="phone" type="tel" name="phone">
        <label for="linkedin">Linkedin</label>
        <input id="linkedin" type="text" name="linkedin">
        <label for="github">Github</label>
        <input id="github" type="text" name="github">
    </form>
</section>
