<section class="hero">
  <button class="hero__button"><i class="far fa-trash-alt"></i>Reset</button>
  <section class="hero__section">
    <article class="hero__section--article">
      <h2 class="hero__section--article--name">Nombre apellido</h2>
      <p class="hero__section--article--text">Front-end developer</p>
    </article>
    <a href="https://store.taylorswift.com/products/red-taylors-version-cd"
      ><img
        src="./assets/images/red.jpg"
        alt="taylorswift"
        title="taylor red lips"
        class="hero__section--img"
    /></a>
    <nav class="hero__section--media">
      <i class="fas fa-mobile-alt"></i>
      <i class="far fa-envelope"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-github-alt"></i>
    </nav>
  </section>
</section>
