<section class="hero">
  <button class="hero__button" type="reset">
    <i class="far fa-trash-alt"></i>Reset
  </button>
  <div class="hero__section">
    <article class="hero__section--article">
      <div class="hero__section--article--rectangle"></div>
      <h2 class="hero__section--article--name">Nombre apellido</h2>
      <p class="hero__section--article--text">Front-end developer</p>
    </article>
    <a href="https://store.taylorswift.com/products/red-taylors-version-cd"
      ><img
        src="./assets/images/red.jpg"
        alt="taylorswift"
        title="taylor red lips"
        class="hero__section--img"
    /></a>
    <nav class="hero__section--media">
      <i class="fas fa-mobile-alt" id="mobile"></i>
      <i class="far fa-envelope" id="email"></i>
      <i class="fab fa-linkedin-in" id="linkedin"></i>
      <i class="fab fa-github-alt" id="github"></i>
    </nav>
  </div>
</section>
