<main class="page">
  <section class="section__container">
    <article>
      <h1 class="section__container--title">Crea tu tarjeta de visita</h1>
      <p class="section__container--paragraph">
        Crea mejores contactos profesionales de forma facil y cómoda
      </p>
      <div class="section__container--rectangle">
        <i class="far fa-object-ungroup design"></i>
        <span class="title-icons">Diseña</span>
        <i class="far fa-keyboard fill"></i>
        <span class="title-icons">Rellena</span>
        <i class="fas fa-share-alt share"></i>
        <span class="title-icons">Comparte</span>
        <!-- <ul class="section__container--icons">
          <li><i class="far fa-object-ungroup"></i>Diseña</li>
         <span></span>
          <li><i class="far fa-keyboard"></i>Rellena</li>
          <span></span>
          <li><i class="fas fa-share-alt"></i>Comparte</li>
          <span></span>
        </ul>-->
      </div>
      <!--
        MIRAR ESTO MÁS ADELANTE PARA VER SI SE PUEDE CAMBIAR O ESTÁ BIEN ASÍ.
        <div><img src="" alt="">diseña </img>rellena comparte</div>
    --></article>

    <!--<div><img src="" alt="">diseña </img>rellena comparte</div>-->
    <button class="section__container--button">Comenzar</button>
  </section>
</main>
