<include src="./header-collapsable.html" title="Comparte" iconStart="fas fa-share-alt" iconEnd="fas fa-chevron-up"></include>

<fieldset class="profilecards__section--share js_fieldset hidden">
  <!-- <i class="fas fa-share-alt share"></i>
  <span class="share__title">Comparte</span>
  <i class="fas fa-chevron-up"></i> -->
  <button class="share__button ">
    <a href="./profile-cards.html" class="section__container--main-link"
      ><i class="far fa-address-card"></i>Crear tarjeta
    </a>
  </button>
</fieldset>
