.section__container{
    background-color: $color-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--title{
        font-family: $font-merri;
        color: $color-orange;
        font-size: 22px; /*zeplin -> 19.2px pero se ve pequeño*/
        text-align: center;
    }
    &--paragraph{
        font-family: $font-open;
        font-size: 16px; /* zeplin -> 12.8px pero se ve muy pequeño*/
        color: #114e4e;
        text-align: center;
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 25px;
    }
    &--rectangle{
        margin-left: auto;
        margin-right: auto;
        width: 275px; /*zeplin el cuadrado es de 268 x 73.8px, se ve pequeño, preguntar si lo podemos hacer mas grandes*/
        height: 80px;
        border-top: 1px solid $orange-rectangle; /*le ponemos rgba para poder darle opacidad, porque si se lo pondemos con opacity se pone opaco tambien lo de dentro*/
        border-bottom: 1px solid $orange-rectangle;
        border-left: 1px solid $orange-rectangle;
        border-right: 1px solid $orange-rectangle;
        border-radius: 4px;  
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &--icons {
        list-style-type: none;
      
    }
    &--button {
        width: 129px;
        color: #fff;
        text-transform: uppercase;
        font-family: $font-open;
        font-weight: bold;
        font-size: 16px;
        background-color: $dirty-blue;
        padding: 15px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin: 20px auto 20px auto;
    }
}

.fa-object-ungroup {
    margin: 15px auto 3px auto;
    font-size: 25px; /*zeplin dice 22 yo le he puesto 25px*/
    color: $color-orange;
    grid-row-start: 1;
    grid-column-start: 1;
}

.fa-keyboard {
    margin: 15px auto 3px auto;
    font-size: 25px; /*zeplin dice 22 yo le he puesto 25px*/
    color: $color-orange;
    grid-row-start: 1;
    grid-column-start: 2;
}

.fa-share-alt {
    margin: 15px auto 3px auto;
    font-size: 25px; /*zeplin dice 22 yo le he puesto 25px*/
    color: $color-orange;
    grid-row-start: 1;
    grid-column-start: 3;
}

.title-icons{
    margin: 5px auto auto auto;
    color: $color-span;
    font-family: $font-open;
    font-size: 14px;
}