.cards {
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 60% 20%;
  }
  .hero {
    grid-column: 2/3;
    grid-row: 1/4;
    height: 100%;
  }
  .profilecards__section--design {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .section__container--fill {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  profilecards__section--share {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
