.cards {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 91%,
    rgba(245, 245, 245, 1) 100%
  );
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 60% 20%;
  }
  .hero {
    grid-column: 2/3;
    grid-row: 1/4;
    height: 100%;
  }
  .profilecards__section--design {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
  }
  .section__fill {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .profilecards__section--share {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
