.design__form {
  margin: 27px 20px 30px 20px;
  text-transform: uppercase;
  font-family: $font-open;
  color: $color-texts;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  &--tittle {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;

    .design {
      width: 21px;
      height: 18px;
    }
  }
  &--colors {
    width: 60%;
    height: 115px;
    font-size: 14px;
    padding-left: 19px;
  }
  &--ranges {
    width: 40%;
    height: 115px;

    .label-1 {
      display: flex;
      flex-wrap: row;
      align-items: center;
      margin-bottom: 20px;

      height: 25px;
      #range-1 {
        width: 30px;
      }
      .box-1 {
        background-color: $dark-green-blue;
        width: 30px;
        height: 25px;
      }
      .box-2 {
        background-color: $dirty-blue;
        width: 30px;
        height: 25px;
      }
      .box-3 {
        background-color: $hospital-green;
        width: 30px;
        height: 25px;
      }
    }

    .label-2 {
      display: flex;
      flex-wrap: row;
      align-items: center;
      margin-bottom: 20px;

      height: 25px;
      #range-2 {
        width: 30px;
      }
      .box-1 {
        background-color: $dried-blood;
        width: 30px;
        height: 25px;
      }
      .box-2 {
        background-color: $rusty-red;
        width: 30px;
        height: 25px;
      }
      .box-3 {
        background-color: $tomato;
        width: 30px;
        height: 25px;
      }
    }
    .label-3 {
      display: flex;
      flex-wrap: row;
      align-items: center;

      height: 25px;
      #range-3 {
        width: 30px;
      }
      .box-1 {
        background-color: $slate;
        width: 30px;
        height: 25px;
      }
      .box-2 {
        background-color: $faded-orange;
        width: 30px;
        height: 25px;
      }
      .box-3 {
        background-color: $light-grey-blue;
        width: 30px;
        height: 25px;
      }
    }
  }
}
