.section__container--fill {
  background-color: pink;
  border-top: solid 1px $color-borders;
  border-bottom: solid 1px $color-borders;
  padding-bottom: 30px;
  .section__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 5px;
    font-family: $font-open;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: $color-texts;
    .section__list--title {
      margin-left: 10px;
    }
    .section__list--icon {
      color: $dull-orange;
    }
    .section__list--button {
      color: $color-texts;
    }
  }
  .section__form {
    display: flex;
    flex-direction: column;
    color: $dark-green-blue;
    font-family: $font-open;
    font-size: 14px;
    line-height: 20px;
    .form__label {
      margin-top: 20px;
      margin-bottom: 7px;
    }
    .form__input {
      border: $hospital-green solid 1px;
      padding-left: 10px;
      height: 30px;
      color: $color-placeholder;
    }
    .form__button {
      color: #ffffff;
      background-color: $dull-orange;
      font-family: $font-open;
      font-size: 14px;
      line-height: 20px;
      border: none;
      width: 140px;
      height: 30px;
      margin-right: 20px;
      padding: 3px 22px 7px;
      border-radius: 3px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    }
    .form__choose-image {
      background-color: powderblue;
      display: flex;
      flex-direction: row;
      .form__input {
        width: 30px;
      }
    }
  }
}
