.header__logo{
    background-color: $color-main;
    display: flex;
    justify-content: center;
    
    
}

.logo {
    width: 250px;
    height: 100px;
    margin: 80px 35px 36px 35px; /*margin top en zeplin es 95, pero queda demasiado espacio*/
    
}