.header__container{
    height: 20%;
    background-color: $color-main;
    display: flex;
    justify-content: center;
    &--logo {
        width: 250px;
        height: 63px;
        margin: 80px 35px 35px 35px; 
        @media all and (min-width: 768px) {
            width: 419px;
            height: 105px;
            margin: 300px 174px 31px 174px; 
        }
        @media all and (min-width:1024px) {
            width: 419px;
            height: 105px;
            margin: 100px auto 31px auto; 
        }
    }
}

