.hero {
  background: rgb(221, 233, 237);
  background: linear-gradient(
    0deg,
    rgba(221, 233, 237, 1) 35%,
    rgba(191, 205, 208, 1) 100%
  );
  width: 100%;
  height: 457px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__button {
    border: solid white 2px;
    background-color: transparent;
  }
  &__section {
    background-color: white;
    height: 329px;
    width: 240px;
    &--img {
      height: 200px;
      width: 200px;
    }
    &--media {
      i {
        border: solid #a2deaf 2 px;
        border-radius: 22.5px;
      }
    }
  }
}

// .hero {
//   background-color: #bfcdd0;
//   width: 100%;
//   height: 457px;
//   $__button {
//   }
//   &__article {
//     &--container {
//       &--name {
//       }
//       &--text {
//       }
//     }
//     &--img {
//       height: 200px;
//       width: 240px;
//     }
//     &--media {
//       i {
//       }
//     }
//   }
// }
