.hero {
  background: rgb(221, 233, 237);
  background: linear-gradient(
    0deg,
    rgba(221, 233, 237, 1) 35%,
    rgba(191, 205, 208, 1) 100%
  );
  width: 100%;
  height: 457px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__button {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    border: solid white 2px;
    border-radius: 22.5px;
    padding: 5px;
    background-color: transparent;
    align-content: flex-start;
    i {
      margin: 0px 8px 0px 10px;
    }
  }
  &__section {
    background-color: white;
    height: 329px;
    width: 240px;
    display: flex;
    flex-direction: column;

    &--article {
      font-family: "Montserrat", sans-serif;
      &--name {
        font-weight: 700;
        color: #114e4e;
      }
      &--text {
        font-weight: 400;
      }
    }
    &--img {
      height: 200px;
      width: 240px;
    }
    &--media {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      i {
        margin: 10px;
        color: #114e4e;
        border: solid 2px #a2deaf;
        border-radius: 22.5px;
        padding: 8px;
      }
    }
  }
}

// .hero {
//   background-color: #bfcdd0;
//   width: 100%;
//   height: 457px;
//   $__button {
//   }
//   &__article {
//     &--container {
//       &--name {
//       }
//       &--text {
//       }
//     }
//     &--img {
//       height: 200px;
//       width: 240px;
//     }
//     &--media {
//       i {
//       }
//     }
//   }
// }
