.hero {
  background: linear-gradient(
    0deg,
    rgba(221, 233, 237, 1) 35%,
    rgba(191, 205, 208, 1) 100%
  );
  width: 100%;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__button {
    font-family: "Open Sans", sans-serif;
    color: #54585a;
    text-transform: uppercase;
    border: solid white 2px;
    border-radius: 22.5px;
    padding: 4px 12px 6px 0px;
    background-color: transparent;
    margin: 38px 200px 20px 45px;
    i {
      margin: 0px 8px 0px 10px;
    }
  }
  &__section {
    background-color: white;
    margin-bottom: 40px;
    height: 340px;
    width: 240px;
    display: flex;
    flex-direction: column;

    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(67, 135, 146, 0.4),
      0 6px 20px 0 rgba(17, 78, 78, 0.4);
    //<---animation--->

    &--article {
      font-family: "Montserrat", sans-serif;
      line-height: 20px;
      &--rectangle {
        background-color: #114e4e;
        position: absolute;
        height: 42px;
        width: 5px;
        margin: 23px 0px 5px 0px;
      }
      &--name {
        margin: 21px 14px 0px 20px;
        font-weight: 700;
        color: #114e4e;
        text-transform: capitalize;
        font-size: 18px;
      }
      &--text {
        font-weight: 500;
        color: #54585a;
        margin: 4px 52px 10px 20px;
        font-size: 16px;
      }
    }
    &--img {
      height: 200px;
      width: 240px;
    }
    &--media {
      background-color: white;
      display: flex;
      justify-content: space-evenly;
      margin: 10px 62px 12px 20px;
      i {
        color: #114e4e;
        border: solid 2px #a2deaf;
        border-radius: 22.5px;
      }
    }
  }
  #mobile {
    padding: 7px 10px 7px 10px;
  }
  #email {
    padding: 7px;
  }
  #linkedin {
    padding: 8px;
  }
  #github {
    padding: 8px 7.5px 6px 7.5px;
  }
}
