.profilecards__section--share {
  border-bottom: solid 1px $white-two;
  padding: 27px 20px 30px 20px;
  background-color: $color-main;
  height: 145px;
  text-transform: uppercase;
  font-family: $font-open;
  font-size: 18px;
  font-weight: 600;
  color: $color-texts;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 28px 1fr 1fr;
  grid-template-rows: 34px 142px;

  .share {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 18px;
    margin-top: 10px;
    color: $dull-orange;
  }

  .share__title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 10px;
  }
  .fa-chevron-up {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: right;
  }

  .fa-address-card {
    margin-right: 9px;
  }
  .share__button {
    background-color: $dull-orange;
    width: 199px;
    height: 50px;
    border-radius: 12px;
    font-family: $font-open;
    color: $color-white;
    font-size: 18px;
    text-transform: uppercase;
    border-style: none;
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 30px auto 30px auto;
    transition: background-color 0.5s ease;
  }
  .share__button:active {
    background-color: $light-grey-blue;
    color: $white-two;
  }
}
